@using CRMS.Utils
@{
    ViewBag.Title = "My Uploads";
    List<Crms100> crms100S = ViewBag.Crms100;
    List<Crms200> crms200S = ViewBag.Crms200;
    List<Crms300> crms300S = ViewBag.Crms300;
    List<Crms400A> crms400As = ViewBag.Crms400A;
    List<Crms400B> crms400Bs = ViewBag.Crms400B;
    List<Crms600> crms600S = ViewBag.Crms600;
    List<Crms700> crms700S = ViewBag.Crms700;
    
}

    <!--CRMS 100-->
    <h4>CRMS 100</h4>
    <div class="bg-scrollabletable">
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Customer_ID</th>
                <th>Customer_Account_Number</th>
                <th>Customer_Name</th>
                <th>Government_Code</th>
                <th>Legal_Status</th>
                <th>Credit_Type</th>
                <th>Credit_Purpose_By_Business_Lines</th>
                <th>Credit_Purpose_By_Business_Lines_Subsector</th>
                <th>Credit_Limit</th>
                <th>Outstanding_Amount</th>
                <th>Fee_Type1</th>
                <th>Fee_Amount1</th>
                <th>Fee_Type2</th>
                <th>Fee_Amount2</th>
                <th>Fee_Type3</th>
                <th>Fee_Amount3</th>
                <th>Fee_Type4</th>
                <th>Fee_Amount4</th>
                <th>Fee_Type5</th>
                <th>Fee_Amount5</th>
                <th>Fee_Type6</th>
                <th>Fee_Amount6</th>
                <th>Fee_Type7</th>
                <th>Fee_Amount7</th>
                <th>Fee_Type8</th>
                <th>Fee_Amount8</th>
                <th>Fee_Type9</th>
                <th>Fee_Amount9</th>
                <th>Fee_Type10</th>
                <th>Fee_Amount10</th>
                <th>Fee_Type11</th>
                <th>Fee_Amount11</th>
                <th>Fee_Type12</th>
                <th>Fee_Amount12</th>
                <th>Fee_Type13</th>
                <th>Fee_Amount13</th>
                <th>Fee_Type14</th>
                <th>Fee_Amount14</th>
                <th>Fee_Type15</th>
                <th>Fee_Amount15</th>
                <th>Fee_Type16</th>
                <th>Fee_Amount16</th>
                <th>Effective_Date</th>
                <th>Tenor</th>
                <th>Expiry_Date</th>
                <th>Repayment_Agreement_Mode</th>
                <th>Specialised_Loan</th>
                <th>Specialised_Loan_Period</th>
                <th>Interest_Rate</th>
                <th>Collateral_Present1</th>
                <th>Collateral_Secure1</th>
                <th>Security_Type1</th>
                <th>Collateral_Secure2</th>
                <th>Security_Type2</th>
                <th>Collateral_Secure3</th>
                <th>Security_Type3</th>
                <th>Collateral_Secure4</th>
                <th>Security_Type4</th>
                <th>Collateral_Secure5</th>
                <th>Security_Type5</th>
                <th>Collateral_Secure6</th>
                <th>Security_Type6</th>
                <th>Collateral_Secure7</th>
                <th>Security_Type7</th>
                <th>Collateral_Secure8</th>
                <th>Security_Type8</th>
                <th>Collateral_Secure9</th>
                <th>Security_Type9</th>
                <th>Collateral_Secure10</th>
                <th>Security_Type10</th>
                <th>Repayment_Source</th>
                <th>Syndication</th>
                <th>Syndication_Status</th>
                <th>Syndication_Reference_Number</th>
                <th>Inputter_ID</th>
                <th>Inputter_Date_Stamp</th>
                <th>Modifier_ID</th>
                <th>Modifier_Date_Stamp</th>
                <th>CRMS_Ref_Number</th>
                <th>Loan_Ref_Number</th>
            </tr>
            @foreach (var crms100 in crms100S)
            {
                <tr>
                    <td>@crms100.Id</td>
                    <td>@crms100.Code</td>
                    <td>@crms100.CustomerId</td>
                    <td>@crms100.CustomerAccountNumber</td>
                    <td>@crms100.CustomerName</td>
                    <td>@crms100.GovernmentCode</td>
                    <td>@crms100.LegalStatus</td>
                    <td>@crms100.CreditType</td>
                    <td>@crms100.CreditPurposeByBusinessLines</td>
                    <td>@crms100.CreditPurposeByBusinessLinesSubsector</td>
                    <td>@crms100.CreditLimit</td>
                    <td>@crms100.OutstandingAmount</td>
                    <td>@crms100.FeeType1</td>
                    <td>@crms100.FeeAmount1</td>
                    <td>@crms100.FeeType2</td>
                    <td>@crms100.FeeAmount2</td>
                    <td>@crms100.FeeType3</td>
                    <td>@crms100.FeeAmount3</td>
                    <td>@crms100.FeeType4</td>
                    <td>@crms100.FeeAmount4</td>
                    <td>@crms100.FeeType5</td>
                    <td>@crms100.FeeAmount5</td>
                    <td>@crms100.FeeType6</td>
                    <td>@crms100.FeeAmount6</td>
                    <td>@crms100.FeeType7</td>
                    <td>@crms100.FeeAmount7</td>
                    <td>@crms100.FeeType8</td>
                    <td>@crms100.FeeAmount8</td>
                    <td>@crms100.FeeType9</td>
                    <td>@crms100.FeeAmount9</td>
                    <td>@crms100.FeeType10</td>
                    <td>@crms100.FeeAmount10</td>
                    <td>@crms100.FeeType11</td>
                    <td>@crms100.FeeAmount11</td>
                    <td>@crms100.FeeType12</td>
                    <td>@crms100.FeeAmount12</td>
                    <td>@crms100.FeeType13</td>
                    <td>@crms100.FeeAmount14</td>
                    <td>@crms100.FeeType14</td>
                    <td>@crms100.FeeAmount14</td>
                    <td>@crms100.FeeType15</td>
                    <td>@crms100.FeeAmount15</td>
                    <td>@crms100.FeeType16</td>
                    <td>@crms100.FeeAmount16</td>
                    <td>@crms100.EffectiveDate</td>
                    <td>@crms100.Tenor</td>
                    <td>@crms100.ExpiryDate</td>
                    <td>@crms100.RepaymentAgreementMode</td>
                    <td>@crms100.SpecialisedLoan</td>
                    <td>@crms100.SpecialisedLoanPeriod</td>
                    <td>@crms100.InterestRate</td>
                    <td>@crms100.CollateralPresent1</td>
                    <td>@crms100.CollateralSecure1</td>
                    <td>@crms100.SecurityType1</td>
                    <td>@crms100.CollateralSecure2</td>
                    <td>@crms100.SecurityType2</td>
                    <td>@crms100.CollateralSecure3</td>
                    <td>@crms100.SecurityType3</td>
                    <td>@crms100.CollateralSecure4</td>
                    <td>@crms100.SecurityType4</td>
                    <td>@crms100.CollateralSecure5</td>
                    <td>@crms100.SecurityType5</td>
                    <td>@crms100.CollateralSecure6</td>
                    <td>@crms100.SecurityType6</td>
                    <td>@crms100.CollateralSecure7</td>
                    <td>@crms100.SecurityType7</td>
                    <td>@crms100.CollateralSecure8</td>
                    <td>@crms100.SecurityType8</td>
                    <td>@crms100.CollateralSecure9</td>
                    <td>@crms100.SecurityType9</td>
                    <td>@crms100.CollateralSecure10</td>
                    <td>@crms100.SecurityType10</td>
                    <td>@crms100.RepaymentSource</td>
                    <td>@crms100.Syndication</td>
                    <td>@crms100.SyndicationStatus</td>
                    <td>@crms100.SyndicationReferenceNumber</td>
                    <td>@crms100.InputterId</td>
                    <td>@crms100.InputterDateStamp</td>
                    <td>@crms100.ModifierId</td>
                    <td>@crms100.ModifierDateStamp</td>
                    <td>@crms100.CrmsRefNumber</td>
                    <td>@crms100.LoanRefNumber</td>
                </tr>
            }
        </table>
    </div>
    <!--CRMS 100 Ends-->
    <!--CRMS 200-->
    <h4>CRMS 200</h4>
    <div class="bg-scrollabletable">
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Customer_ID</th>
                <th>Customer_Account_Number</th>
                <th>Customer_Name</th>
                <th>Government_Mda_Tin</th>
                <th>Legal_Status</th>
                <th>Credit_Type</th>
                <th>Credit_Purpose_By_Business_Lines</th>
                <th>Credit_Purpose_By_Business_Lines_Subsector</th>
                <th>Credit_Limit</th>
                <th>Outstanding_Amount</th>
                <th>Fee_Type1</th>
                <th>Fee_Amount1</th>
                <th>Fee_Type2</th>
                <th>Fee_Amount2</th>
                <th>Fee_Type3</th>
                <th>Fee_Amount3</th>
                <th>Fee_Type4</th>
                <th>Fee_Amount4</th>
                <th>Fee_Type5</th>
                <th>Fee_Amount5</th>
                <th>Fee_Type6</th>
                <th>Fee_Amount6</th>
                <th>Fee_Type7</th>
                <th>Fee_Amount7</th>
                <th>Fee_Type8</th>
                <th>Fee_Amount8</th>
                <th>Fee_Type9</th>
                <th>Fee_Amount9</th>
                <th>Fee_Type10</th>
                <th>Fee_Amount10</th>
                <th>Fee_Type11</th>
                <th>Fee_Amount11</th>
                <th>Fee_Type12</th>
                <th>Fee_Amount12</th>
                <th>Fee_Type13</th>
                <th>Fee_Amount13</th>
                <th>Fee_Type14</th>
                <th>Fee_Amount14</th>
                <th>Fee_Type15</th>
                <th>Fee_Amount15</th>
                <th>Fee_Type16</th>
                <th>Fee_Amount16</th>
                <th>Effective_Date</th>
                <th>Tenor</th>
                <th>Expiry_Date</th>
                <th>Repayment_Agreement_Mode</th>
                <th>Performance_Repayment_Status</th>
                <th>Interest_Rate</th>
                <th>Specialised_Loan</th>
                <th>Specialised_Loan_Period</th>
                <th>Collateral_Present1</th>
                <th>Collateral_Secure1</th>
                <th>Security_Type1</th>
                <th>Collateral_Secure2</th>
                <th>Security_Type2</th>
                <th>Collateral_Secure3</th>
                <th>Security_Type3</th>
                <th>Collateral_Secure4</th>
                <th>Security_Type4</th>
                <th>Collateral_Secure5</th>
                <th>Security_Type5</th>
                <th>Collateral_Secure6</th>
                <th>Security_Type6</th>
                <th>Collateral_Secure7</th>
                <th>Security_Type7</th>
                <th>Collateral_Secure8</th>
                <th>Security_Type8</th>
                <th>Collateral_Secure9</th>
                <th>Security_Type9</th>
                <th>Collateral_Secure10</th>
                <th>Security_Type10</th>
                <th>Repayment_Source</th>
                <th>Syndication</th>
                <th>Syndication_Status</th>
                <th>Syndication_Reference_Number</th>
                <th>Inputter_ID</th>
                <th>Inputter_Date_Stamp</th>
                <th>Modifier_ID</th>
                <th>Modifier_Date_Stamp</th>
                <th>CRMS_Ref_Number</th>
                <th>Loan_Ref_Number</th>
            </tr>
            @foreach (var crms200 in crms200S)
            {
                <tr>
                    <td>@crms200.Id</td>
                    <td>@crms200.Code</td>
                    <td>@crms200.CustomerId</td>
                    <td>@crms200.CustomerAccountNumber</td>
                    <td>@crms200.CustomerName</td>
                    <td>@crms200.GovernmentMdaTin</td>
                    <td>@crms200.LegalStatus</td>
                    <td>@crms200.CreditType</td>
                    <td>@crms200.CreditPurposeByBusinessLines</td>
                    <td>@crms200.CreditPurposeByBusinessLinesSubsector</td>
                    <td>@crms200.CreditLimit</td>
                    <td>@crms200.OutstandingAmount</td>
                    <td>@crms200.FeeType1</td>
                    <td>@crms200.FeeAmount1</td>
                    <td>@crms200.FeeType2</td>
                    <td>@crms200.FeeAmount2</td>
                    <td>@crms200.FeeType3</td>
                    <td>@crms200.FeeAmount3</td>
                    <td>@crms200.FeeType4</td>
                    <td>@crms200.FeeAmount4</td>
                    <td>@crms200.FeeType5</td>
                    <td>@crms200.FeeAmount5</td>
                    <td>@crms200.FeeType6</td>
                    <td>@crms200.FeeAmount6</td>
                    <td>@crms200.FeeType7</td>
                    <td>@crms200.FeeAmount7</td>
                    <td>@crms200.FeeType8</td>
                    <td>@crms200.FeeAmount8</td>
                    <td>@crms200.FeeType9</td>
                    <td>@crms200.FeeAmount9</td>
                    <td>@crms200.FeeType10</td>
                    <td>@crms200.FeeAmount10</td>
                    <td>@crms200.FeeType11</td>
                    <td>@crms200.FeeAmount11</td>
                    <td>@crms200.FeeType12</td>
                    <td>@crms200.FeeAmount12</td>
                    <td>@crms200.FeeType13</td>
                    <td>@crms200.FeeAmount14</td>
                    <td>@crms200.FeeType14</td>
                    <td>@crms200.FeeAmount14</td>
                    <td>@crms200.FeeType15</td>
                    <td>@crms200.FeeAmount15</td>
                    <td>@crms200.FeeType16</td>
                    <td>@crms200.FeeAmount16</td>
                    <td>@crms200.EffectiveDate</td>
                    <td>@crms200.Tenor</td>
                    <td>@crms200.ExpiryDate</td>
                    <td>@crms200.RepaymentAgreementMode</td>
                    <td>@crms200.PerformanceRepaymentStatus</td>
                    <td>@crms200.SpecialisedLoan</td>
                    <td>@crms200.SpecialisedLoanPeriod</td>
                    <td>@crms200.InterestRate</td>
                    <td>@crms200.CollateralPresent1</td>
                    <td>@crms200.CollateralSecure1</td>
                    <td>@crms200.SecurityType1</td>
                    <td>@crms200.CollateralSecure2</td>
                    <td>@crms200.SecurityType2</td>
                    <td>@crms200.CollateralSecure3</td>
                    <td>@crms200.SecurityType3</td>
                    <td>@crms200.CollateralSecure4</td>
                    <td>@crms200.SecurityType4</td>
                    <td>@crms200.CollateralSecure5</td>
                    <td>@crms200.SecurityType5</td>
                    <td>@crms200.CollateralSecure6</td>
                    <td>@crms200.SecurityType6</td>
                    <td>@crms200.CollateralSecure7</td>
                    <td>@crms200.SecurityType7</td>
                    <td>@crms200.CollateralSecure8</td>
                    <td>@crms200.SecurityType8</td>
                    <td>@crms200.CollateralSecure9</td>
                    <td>@crms200.SecurityType9</td>
                    <td>@crms200.CollateralSecure10</td>
                    <td>@crms200.SecurityType10</td>
                    <td>@crms200.RepaymentSource</td>
                    <td>@crms200.Syndication</td>
                    <td>@crms200.SyndicationStatus</td>
                    <td>@crms200.SyndicationReferenceNumber</td>
                    <td>@crms200.InputterId</td>
                    <td>@crms200.InputterDateStamp</td>
                    <td>@crms200.ModifierId</td>
                    <td>@crms200.ModifierDateStamp</td>
                    <td>@crms200.CrmsRefNumber</td>
                    <td>@crms200.LoanRefNumber</td>
                </tr>
            }
        </table>
    </div>
    <!--CRMS 200 Ends-->
    <!--CRMS 300-->
    <h4>CRMS 300</h4>
    <div class="bg-scrollabletable">
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Customer_ID</th>
                <th>Customer_Account_Number</th>
                <th>Customer_Name</th>
                <th>Unique_Identifcation_Type</th>
                <th>Unique_Identifcation_Number</th>
                <th>Credit_Type</th>
                <th>Credit_Purpose_By_Business_Lines</th>
                <th>Credit_Purpose_By_Business_Lines_Subsector</th>
                <th>Credit_Limit</th>
                <th>Outstanding_Amount</th>
                <th>Fee_Type1</th>
                <th>Fee_Amount1</th>
                <th>Fee_Type2</th>
                <th>Fee_Amount2</th>
                <th>Fee_Type3</th>
                <th>Fee_Amount3</th>
                <th>Fee_Type4</th>
                <th>Fee_Amount4</th>
                <th>Fee_Type5</th>
                <th>Fee_Amount5</th>
                <th>Fee_Type6</th>
                <th>Fee_Amount6</th>
                <th>Fee_Type7</th>
                <th>Fee_Amount7</th>
                <th>Fee_Type8</th>
                <th>Fee_Amount8</th>
                <th>Fee_Type9</th>
                <th>Fee_Amount9</th>
                <th>Fee_Type10</th>
                <th>Fee_Amount10</th>
                <th>Fee_Type11</th>
                <th>Fee_Amount11</th>
                <th>Fee_Type12</th>
                <th>Fee_Amount12</th>
                <th>Fee_Type13</th>
                <th>Fee_Amount13</th>
                <th>Fee_Type14</th>
                <th>Fee_Amount14</th>
                <th>Fee_Type15</th>
                <th>Fee_Amount15</th>
                <th>Fee_Type16</th>
                <th>Fee_Amount16</th>
                <th>Effective_Date</th>
                <th>Tenor</th>
                <th>Expiry_Date</th>
                <th>Repayment_Agreement_Mode</th>
                <th>Interest_Rate</th>
                <th>Beneficiary_Account_Number</th>
                <th>Location_of_Beneficiary</th>
                <th>Relationship_Type</th>
                <th>Funding_Source_Category</th>
                <th>ECCI_Number</th>
                <th>Funding_Source</th>
                <th>Legal_Status</th>
                <th>Classification_By_Business_Lines</th>
                <th>Classification_By_Business_Lines_Subsector</th>
                <th>Specialised_Loan</th>
                <th>Specialised_Loan_Period</th>
                <th>Director_Id_Type1</th>
                <th>Director_Id_Number1</th>
                <th>Director_Id_Email1</th>
                <th>Director_Id_Type2</th>
                <th>Director_Id_Number2</th>
                <th>Director_Id_Email2</th>
                <th>Director_Id_Type3</th>
                <th>Director_Id_Number3</th>
                <th>Director_Id_Email3</th>
                <th>Director_Id_Type4</th>
                <th>Director_Id_Number4</th>
                <th>Director_Id_Email4</th>
                <th>Director_Id_Type5</th>
                <th>Director_Id_Number5</th>
                <th>Director_Id_Email5</th>
                <th>Syndication</th>
                <th>Syndication_Status</th>
                <th>Syndication_Reference_Number</th>
                <th>Collateral_Present1</th>
                <th>Collateral_Secure1</th>
                <th>Security_Type1</th>
                <th>Address_of_Security1</th>
                <th>Owner_of_Security1</th>
                <th>Security_Id_Type1</th>
                <th>Security_Id_Number1</th>
                <th>Collateral_Secure2</th>
                <th>Security_Type2</th>
                <th>Address_of_Security2</th>
                <th>Owner_of_Security2</th>
                <th>Security_Id_Type2</th>
                <th>Security_Id_Number2</th>
                <th>Collateral_Secure3</th>
                <th>Security_Type3</th>
                <th>Address_of_Security3</th>
                <th>Owner_of_Security3</th>
                <th>Security_Id_Type3</th>
                <th>Security_Id_Number3</th>
                <th>Collateral_Secure4</th>
                <th>Security_Type4</th>
                <th>Address_of_Security4</th>
                <th>Owner_of_Security4</th>
                <th>Security_Id_Type4</th>
                <th>Security_Id_Number4</th>
                <th>Collateral_Secure5</th>
                <th>Security_Type5</th>
                <th>Address_of_Security5</th>
                <th>Owner_of_Security5</th>
                <th>Security_Id_Type5</th>
                <th>Security_Id_Number5</th>
                <th>Collateral_Secure6</th>
                <th>Security_Type6</th>
                <th>Address_of_Security6</th>
                <th>Owner_of_Security6</th>
                <th>Security_Id_Type6</th>
                <th>Security_Id_Number6</th>
                <th>Collateral_Secure7</th>
                <th>Security_Type7</th>
                <th>Address_of_Security7</th>
                <th>Owner_of_Security7</th>
                <th>Security_Id_Type7</th>
                <th>Security_Id_Number7</th>
                <th>Collateral_Secure8</th>
                <th>Security_Type8</th>
                <th>Address_of_Security8</th>
                <th>Owner_of_Security8</th>
                <th>Security_Id_Type8</th>
                <th>Security_Id_Number8</th>
                <th>Collateral_Secure9</th>
                <th>Security_Type9</th>
                <th>Address_of_Security9</th>
                <th>Owner_of_Security9</th>
                <th>Security_Id_Type9</th>
                <th>Security_Id_Number9</th>
                <th>Collateral_Secure10</th>
                <th>Security_Type10</th>
                <th>Address_of_Security10</th>
                <th>Owner_of_Security10</th>
                <th>Security_Id_Type10</th>
                <th>Security_Id_Number10</th>
                <th>Guarantee1</th>
                <th>Guarantee_Type1</th>
                <th>Guarantor_Id_Type1</th>
                <th>Guarantor_Id_Number1</th>
                <th>Amount_Guaranteed1</th>
                <th>Guarantee_Type2</th>
                <th>Guarantor_Id_Type2</th>
                <th>Guarantor_Id_Number2</th>
                <th>Amount_Guaranteed2</th>
                <th>Guarantee_Type3</th>
                <th>Guarantor_Id_Type3</th>
                <th>Guarantor_Id_Number3</th>
                <th>Amount_Guaranteed3</th>
                <th>Guarantee_Type4</th>
                <th>Guarantor_Id_Type4</th>
                <th>Guarantor_Id_Number4</th>
                <th>Amount_Guaranteed4</th>
                <th>Guarantee_Type5</th>
                <th>Guarantor_Id_Type5</th>
                <th>Guarantor_Id_Number5</th>
                <th>Amount_Guaranteed5</th>
                <th>Inputter_ID</th>
                <th>Inputter_Date_Stamp</th>
                <th>Modifier_ID</th>
                <th>Modifier_Date_Stamp</th>
                <th>CRMS_Ref_Number</th>
                <th>Loan_Ref_Number</th>
            </tr>
            @foreach (var crms300 in crms300S)
            {
                <tr>
                    <td>@crms300.Id</td>
                    <td>@crms300.Code</td>
                    <td>@crms300.CustomerId</td>
                    <td>@crms300.CustomerAccountNumber</td>
                    <td>@crms300.CustomerName</td>
                    <td>@crms300.UniqueIdentificationType</td>
                    <td>@crms300.UniqueIdentificationNumber</td>
                    <td>@crms300.CreditType</td>
                    <td>@crms300.CreditPurposeByBusinessLines</td>
                    <td>@crms300.CreditPurposeByBusinessLinesSubsector</td>
                    <td>@crms300.CreditLimit</td>
                    <td>@crms300.OutstandingAmount</td>
                    <td>@crms300.FeeType1</td>
                    <td>@crms300.FeeAmount1</td>
                    <td>@crms300.FeeType2</td>
                    <td>@crms300.FeeAmount2</td>
                    <td>@crms300.FeeType3</td>
                    <td>@crms300.FeeAmount3</td>
                    <td>@crms300.FeeType4</td>
                    <td>@crms300.FeeAmount4</td>
                    <td>@crms300.FeeType5</td>
                    <td>@crms300.FeeAmount5</td>
                    <td>@crms300.FeeType6</td>
                    <td>@crms300.FeeAmount6</td>
                    <td>@crms300.FeeType7</td>
                    <td>@crms300.FeeAmount7</td>
                    <td>@crms300.FeeType8</td>
                    <td>@crms300.FeeAmount8</td>
                    <td>@crms300.FeeType9</td>
                    <td>@crms300.FeeAmount9</td>
                    <td>@crms300.FeeType10</td>
                    <td>@crms300.FeeAmount10</td>
                    <td>@crms300.FeeType11</td>
                    <td>@crms300.FeeAmount11</td>
                    <td>@crms300.FeeType12</td>
                    <td>@crms300.FeeAmount12</td>
                    <td>@crms300.FeeType13</td>
                    <td>@crms300.FeeAmount14</td>
                    <td>@crms300.FeeType14</td>
                    <td>@crms300.FeeAmount14</td>
                    <td>@crms300.FeeType15</td>
                    <td>@crms300.FeeAmount15</td>
                    <td>@crms300.FeeType16</td>
                    <td>@crms300.FeeAmount16</td>
                    <td>@crms300.EffectiveDate</td>
                    <td>@crms300.Tenor</td>
                    <td>@crms300.ExpiryDate</td>
                    <td>@crms300.RepaymentAgreementMode</td>
                    <td>@crms300.InterestRate</td>
                    <td>@crms300.BeneficiaryAccountNumber</td>
                    <td>@crms300.LocationOfBeneficiary</td>
                    <td>@crms300.RelationshipType</td>
                    <td>@crms300.FundingSourceCategory</td>
                    <td>@crms300.EcciNumber</td>
                    <td>@crms300.FundingSource</td>
                    <td>@crms300.LegalStatus</td>
                    <td>@crms300.ClassificationByBusinessLines</td>
                    <td>@crms300.ClassificationByBusinessLinesSubsector</td>
                    <td>@crms300.SpecialisedLoan</td>
                    <td>@crms300.SpecialisedLoanPeriod</td>
                    <td>@crms300.DirectorIdType1</td>
                    <td>@crms300.DirectorIdNumber1</td>
                    <td>@crms300.DirectorIdEmail1</td>
                    <td>@crms300.DirectorIdType2</td>
                    <td>@crms300.DirectorIdNumber2</td>
                    <td>@crms300.DirectorIdEmail2</td>
                    <td>@crms300.DirectorIdType3</td>
                    <td>@crms300.DirectorIdNumber3</td>
                    <td>@crms300.DirectorIdEmail3</td>
                    <td>@crms300.DirectorIdType4</td>
                    <td>@crms300.DirectorIdNumber4</td>
                    <td>@crms300.DirectorIdEmail4</td>
                    <td>@crms300.DirectorIdType5</td>
                    <td>@crms300.DirectorIdNumber5</td>
                    <td>@crms300.DirectorIdEmail5</td>
                    <td>@crms300.Syndication</td>
                    <td>@crms300.SyndicationStatus</td>
                    <td>@crms300.SyndicationReferenceNumber</td>
                    <td>@crms300.CollateralPresent1</td>
                    <td>@crms300.CollateralSecure1</td>
                    <td>@crms300.SecurityType1</td>
                    <td>@crms300.AddressOfSecurity1</td>
                    <td>@crms300.OwnerOfSecurity1</td>
                    <td>@crms300.SecurityIdType1</td>
                    <td>@crms300.SecurityIdNumber1</td>
                    <td>@crms300.CollateralSecure2</td>
                    <td>@crms300.SecurityType2</td>
                    <td>@crms300.AddressOfSecurity2</td>
                    <td>@crms300.OwnerOfSecurity2</td>
                    <td>@crms300.SecurityIdType2</td>
                    <td>@crms300.SecurityIdNumber2</td>
                    <td>@crms300.CollateralSecure3</td>
                    <td>@crms300.SecurityType3</td>
                    <td>@crms300.AddressOfSecurity3</td>
                    <td>@crms300.OwnerOfSecurity3</td>
                    <td>@crms300.SecurityIdType3</td>
                    <td>@crms300.SecurityIdNumber3</td>
                    <td>@crms300.CollateralSecure4</td>
                    <td>@crms300.SecurityType4</td>
                    <td>@crms300.AddressOfSecurity4</td>
                    <td>@crms300.OwnerOfSecurity4</td>
                    <td>@crms300.SecurityIdType4</td>
                    <td>@crms300.SecurityIdNumber4</td>
                    <td>@crms300.CollateralSecure5</td>
                    <td>@crms300.SecurityType5</td>
                    <td>@crms300.AddressOfSecurity5</td>
                    <td>@crms300.OwnerOfSecurity5</td>
                    <td>@crms300.SecurityIdType5</td>
                    <td>@crms300.SecurityIdNumber5</td>
                    <td>@crms300.CollateralSecure6</td>
                    <td>@crms300.SecurityType6</td>
                    <td>@crms300.AddressOfSecurity6</td>
                    <td>@crms300.OwnerOfSecurity6</td>
                    <td>@crms300.SecurityIdType6</td>
                    <td>@crms300.SecurityIdNumber6</td>
                    <td>@crms300.CollateralSecure7</td>
                    <td>@crms300.SecurityType7</td>
                    <td>@crms300.AddressOfSecurity7</td>
                    <td>@crms300.OwnerOfSecurity7</td>
                    <td>@crms300.SecurityIdType7</td>
                    <td>@crms300.SecurityIdNumber7</td>
                    <td>@crms300.CollateralSecure8</td>
                    <td>@crms300.SecurityType8</td>
                    <td>@crms300.AddressOfSecurity8</td>
                    <td>@crms300.OwnerOfSecurity8</td>
                    <td>@crms300.SecurityIdType8</td>
                    <td>@crms300.SecurityIdNumber8</td>
                    <td>@crms300.CollateralSecure9</td>
                    <td>@crms300.SecurityType9</td>
                    <td>@crms300.AddressOfSecurity9</td>
                    <td>@crms300.OwnerOfSecurity9</td>
                    <td>@crms300.SecurityIdType9</td>
                    <td>@crms300.SecurityIdNumber9</td>
                    <td>@crms300.CollateralSecure10</td>
                    <td>@crms300.SecurityType10</td>
                    <td>@crms300.AddressOfSecurity10</td>
                    <td>@crms300.OwnerOfSecurity10</td>
                    <td>@crms300.SecurityIdType10</td>
                    <td>@crms300.SecurityIdNumber10</td>
                    <td>@crms300.Guarantee1</td>
                    <td>@crms300.GuaranteeType1</td>
                    <td>@crms300.GuaranteeIdType1</td>
                    <td>@crms300.GuaranteeIdNumber1</td>
                    <td>@crms300.AmountGuranteed1</td>
                    <td>@crms300.GuaranteeType2</td>
                    <td>@crms300.GuaranteeIdType2</td>
                    <td>@crms300.GuaranteeIdNumber2</td>
                    <td>@crms300.AmountGuranteed2</td>
                    <td>@crms300.GuaranteeType3</td>
                    <td>@crms300.GuaranteeIdType3</td>
                    <td>@crms300.GuaranteeIdNumber3</td>
                    <td>@crms300.AmountGuranteed3</td>
                    <td>@crms300.GuaranteeType4</td>
                    <td>@crms300.GuaranteeIdType4</td>
                    <td>@crms300.GuaranteeIdNumber4</td>
                    <td>@crms300.AmountGuranteed4</td>
                    <td>@crms300.GuaranteeType5</td>
                    <td>@crms300.GuaranteeIdType5</td>
                    <td>@crms300.GuaranteeIdNumber5</td>
                    <td>@crms300.AmountGuranteed5</td>
                    <td>@crms300.InputterId</td>
                    <td>@crms300.InputterDateStamp</td>
                    <td>@crms300.ModifierId</td>
                    <td>@crms300.ModifierDateStamp</td>
                    <td>@crms300.CrmsRefNumber</td>
                    <td>@crms300.LoanRefNumber</td>
                </tr>
            }
        </table>
    </div>
    <!--CRMS 300 Ends-->
    <!--CRMS 400A-->
    <h4>CRMS 400A</h4>
    <div class="bg-scrollabletable">
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Customer_ID</th>
                <th>Customer_Account_Number</th>
                <th>Customer_Name</th>
                <th>Unique_Identifcation_Type</th>
                <th>Unique_Identifcation_Number</th>
                <th>CRMS_Reference_Number</th>
                <th>Effective_Date</th>
                <th>Tenor</th>
                <th>Expiry_Date</th>
                <th>Inputter_ID</th>
                <th>Inputter_Date_Stamp</th>
                <th>Modifier_ID</th>
                <th>Modifier_Date_Stamp</th>
                <th>CRMS_Ref_Number</th>
                <th>Loan_Ref_Number</th>
            </tr>
            @foreach (var crms400A in crms400As)
            {
                <tr>
                    <td>@crms400A.Id</td>
                    <td>@crms400A.Code</td>
                    <td>@crms400A.CustomerId</td>
                    <td>@crms400A.CustomerAccountNumber</td>
                    <td>@crms400A.CustomerName</td>
                    <td>@crms400A.UniqueIdentificationType</td>
                    <td>@crms400A.UniqueIdentificationNumber</td>
                    <td>@crms400A.CrmsReferenceNumber</td>
                    <td>@crms400A.EffectiveDate</td>
                    <td>@crms400A.Tenor</td>
                    <td>@crms400A.ExpiryDate</td>
                    <td>@crms400A.InputterId</td>
                    <td>@crms400A.InputterDateStamp</td>
                    <td>@crms400A.ModifierId</td>
                    <td>@crms400A.ModifierDateStamp</td>
                    <td>@crms400A.CrmsRefNumber</td>
                    <td>@crms400A.LoanRefNumber</td>
                </tr>
            }
        </table>
    </div>
    <!--CRMS 400A Ends-->
    <!--CRMS 400B-->
    <h4>CRMS 400B</h4>
    <div class="bg-scrollabletable">
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Customer_ID</th>
                <th>Customer_Account_Number</th>
                <th>Customer_Name</th>
                <th>Unique_Identifcation_Type</th>
                <th>Unique_Identifcation_Number</th>
                <th>CRMS_Reference_Number</th>
                <th>Credit_Type</th>
                <th>Credit_Limit</th>
                <th>Outstanding_Amount</th>
                <th>Fee_Type1</th>
                <th>Fee_Amount1</th>
                <th>Fee_Type2</th>
                <th>Fee_Amount2</th>
                <th>Fee_Type3</th>
                <th>Fee_Amount3</th>
                <th>Fee_Type4</th>
                <th>Fee_Amount4</th>
                <th>Fee_Type5</th>
                <th>Fee_Amount5</th>
                <th>Fee_Type6</th>
                <th>Fee_Amount6</th>
                <th>Fee_Type7</th>
                <th>Fee_Amount7</th>
                <th>Fee_Type8</th>
                <th>Fee_Amount8</th>
                <th>Fee_Type9</th>
                <th>Fee_Amount9</th>
                <th>Fee_Type10</th>
                <th>Fee_Amount10</th>
                <th>Fee_Type11</th>
                <th>Fee_Amount11</th>
                <th>Fee_Type12</th>
                <th>Fee_Amount12</th>
                <th>Fee_Type13</th>
                <th>Fee_Amount13</th>
                <th>Fee_Type14</th>
                <th>Fee_Amount14</th>
                <th>Fee_Type15</th>
                <th>Fee_Amount15</th>
                <th>Fee_Type16</th>
                <th>Fee_Amount16</th>
                <th>Effective_Date</th>
                <th>Tenor</th>
                <th>Expiry_Date</th>
                <th>Repayment_Agreement_Mode</th>
                <th>Performance_Repayment_Status</th>
                <th>Reason_For_Restructuring</th>
                <th>Interest_Rate</th>
                <th>Beneficiary_Account_Number</th>
                <th>Location_of_Beneficiary</th>
                <th>Relationship_Type</th>
                <th>Funding_Source_Category</th>
                <th>ECCI_Number</th>
                <th>Funding_Source</th>
                <th>Specialised_Loan</th>
                <th>Specialised_Loan_Period</th>
                <th>Director_Id_Type1</th>
                <th>Director_Id_Number1</th>
                <th>Director_Id_Email1</th>
                <th>Director_Id_Type2</th>
                <th>Director_Id_Number2</th>
                <th>Director_Id_Email2</th>
                <th>Director_Id_Type3</th>
                <th>Director_Id_Number3</th>
                <th>Director_Id_Email3</th>
                <th>Director_Id_Type4</th>
                <th>Director_Id_Number4</th>
                <th>Director_Id_Email4</th>
                <th>Director_Id_Type5</th>
                <th>Director_Id_Number5</th>
                <th>Director_Id_Email5</th>
                <th>Collateral_Present1</th>
                <th>Collateral_Secure1</th>
                <th>Security_Type1</th>
                <th>Address_of_Security1</th>
                <th>Owner_of_Security1</th>
                <th>Security_Id_Type1</th>
                <th>Security_Id_Number1</th>
                <th>Collateral_Secure2</th>
                <th>Security_Type2</th>
                <th>Address_of_Security2</th>
                <th>Owner_of_Security2</th>
                <th>Security_Id_Type2</th>
                <th>Security_Id_Number2</th>
                <th>Collateral_Secure3</th>
                <th>Security_Type3</th>
                <th>Address_of_Security3</th>
                <th>Owner_of_Security3</th>
                <th>Security_Id_Type3</th>
                <th>Security_Id_Number3</th>
                <th>Collateral_Secure4</th>
                <th>Security_Type4</th>
                <th>Address_of_Security4</th>
                <th>Owner_of_Security4</th>
                <th>Security_Id_Type4</th>
                <th>Security_Id_Number4</th>
                <th>Collateral_Secure5</th>
                <th>Security_Type5</th>
                <th>Address_of_Security5</th>
                <th>Owner_of_Security5</th>
                <th>Security_Id_Type5</th>
                <th>Security_Id_Number5</th>
                <th>Collateral_Secure6</th>
                <th>Security_Type6</th>
                <th>Address_of_Security6</th>
                <th>Owner_of_Security6</th>
                <th>Security_Id_Type6</th>
                <th>Security_Id_Number6</th>
                <th>Collateral_Secure7</th>
                <th>Security_Type7</th>
                <th>Address_of_Security7</th>
                <th>Owner_of_Security7</th>
                <th>Security_Id_Type7</th>
                <th>Security_Id_Number7</th>
                <th>Collateral_Secure8</th>
                <th>Security_Type8</th>
                <th>Address_of_Security8</th>
                <th>Owner_of_Security8</th>
                <th>Security_Id_Type8</th>
                <th>Security_Id_Number8</th>
                <th>Collateral_Secure9</th>
                <th>Security_Type9</th>
                <th>Address_of_Security9</th>
                <th>Owner_of_Security9</th>
                <th>Security_Id_Type9</th>
                <th>Security_Id_Number9</th>
                <th>Collateral_Secure10</th>
                <th>Security_Type10</th>
                <th>Address_of_Security10</th>
                <th>Owner_of_Security10</th>
                <th>Security_Id_Type10</th>
                <th>Security_Id_Number10</th>
                <th>Guarantee1</th>
                <th>Guarantee_Type1</th>
                <th>Guarantor_Id_Type1</th>
                <th>Guarantor_Id_Number1</th>
                <th>Amount_Guaranteed1</th>
                <th>Guarantee_Type2</th>
                <th>Guarantor_Id_Type2</th>
                <th>Guarantor_Id_Number2</th>
                <th>Amount_Guaranteed2</th>
                <th>Guarantee_Type3</th>
                <th>Guarantor_Id_Type3</th>
                <th>Guarantor_Id_Number3</th>
                <th>Amount_Guaranteed3</th>
                <th>Guarantee_Type4</th>
                <th>Guarantor_Id_Type4</th>
                <th>Guarantor_Id_Number4</th>
                <th>Amount_Guaranteed4</th>
                <th>Guarantee_Type5</th>
                <th>Guarantor_Id_Type5</th>
                <th>Guarantor_Id_Number5</th>
                <th>Amount_Guaranteed5</th>
                <th>Inputter_ID</th>
                <th>Inputter_Date_Stamp</th>
                <th>Modifier_ID</th>
                <th>Modifier_Date_Stamp</th>
                <th>CRMS_Ref_Number</th>
                <th>Loan_Ref_Number</th>
            </tr>
            @foreach (var crms400B in crms400Bs)
            {
                <tr>
                    <td>@crms400B.Id</td>
                    <td>@crms400B.Code</td>
                    <td>@crms400B.CustomerId</td>
                    <td>@crms400B.CustomerAccountNumber</td>
                    <td>@crms400B.CustomerName</td>
                    <td>@crms400B.UniqueIdentificationType</td>
                    <td>@crms400B.UniqueIdentificationNumber</td>
                    <td>@crms400B.CrmsReferenceNumber</td>
                    <td>@crms400B.CreditType</td>
                    <td>@crms400B.CreditLimit</td>
                    <td>@crms400B.OutstandingAmount</td>
                    <td>@crms400B.FeeType1</td>
                    <td>@crms400B.FeeAmount1</td>
                    <td>@crms400B.FeeType2</td>
                    <td>@crms400B.FeeAmount2</td>
                    <td>@crms400B.FeeType3</td>
                    <td>@crms400B.FeeAmount3</td>
                    <td>@crms400B.FeeType4</td>
                    <td>@crms400B.FeeAmount4</td>
                    <td>@crms400B.FeeType5</td>
                    <td>@crms400B.FeeAmount5</td>
                    <td>@crms400B.FeeType6</td>
                    <td>@crms400B.FeeAmount6</td>
                    <td>@crms400B.FeeType7</td>
                    <td>@crms400B.FeeAmount7</td>
                    <td>@crms400B.FeeType8</td>
                    <td>@crms400B.FeeAmount8</td>
                    <td>@crms400B.FeeType9</td>
                    <td>@crms400B.FeeAmount9</td>
                    <td>@crms400B.FeeType10</td>
                    <td>@crms400B.FeeAmount10</td>
                    <td>@crms400B.FeeType11</td>
                    <td>@crms400B.FeeAmount11</td>
                    <td>@crms400B.FeeType12</td>
                    <td>@crms400B.FeeAmount12</td>
                    <td>@crms400B.FeeType13</td>
                    <td>@crms400B.FeeAmount14</td>
                    <td>@crms400B.FeeType14</td>
                    <td>@crms400B.FeeAmount14</td>
                    <td>@crms400B.FeeType15</td>
                    <td>@crms400B.FeeAmount15</td>
                    <td>@crms400B.FeeType16</td>
                    <td>@crms400B.FeeAmount16</td>
                    <td>@crms400B.EffectiveDate</td>
                    <td>@crms400B.Tenor</td>
                    <td>@crms400B.ExpiryDate</td>
                    <td>@crms400B.RepaymentAgreementMode</td>
                    <td>@crms400B.PerformanceRepaymentStatus</td>
                    <td>@crms400B.ReasonForRestructuring</td>
                    <td>@crms400B.InterestRate</td>
                    <td>@crms400B.BeneficiaryAccountNumber</td>
                    <td>@crms400B.LocationOfBeneficiary</td>
                    <td>@crms400B.RelationshipType</td>
                    <td>@crms400B.FundingSourceCategory</td>
                    <td>@crms400B.EcciNumber</td>
                    <td>@crms400B.FundingSource</td>
                    <td>@crms400B.SpecialisedLoan</td>
                    <td>@crms400B.SpecialisedLoanPeriod</td>
                    <td>@crms400B.DirectorIdType1</td>
                    <td>@crms400B.DirectorIdNumber1</td>
                    <td>@crms400B.DirectorIdEmail1</td>
                    <td>@crms400B.DirectorIdType2</td>
                    <td>@crms400B.DirectorIdNumber2</td>
                    <td>@crms400B.DirectorIdEmail2</td>
                    <td>@crms400B.DirectorIdType3</td>
                    <td>@crms400B.DirectorIdNumber3</td>
                    <td>@crms400B.DirectorIdEmail3</td>
                    <td>@crms400B.DirectorIdType4</td>
                    <td>@crms400B.DirectorIdNumber4</td>
                    <td>@crms400B.DirectorIdEmail4</td>
                    <td>@crms400B.DirectorIdType5</td>
                    <td>@crms400B.DirectorIdNumber5</td>
                    <td>@crms400B.DirectorIdEmail5</td>
                    <td>@crms400B.CollateralPresent1</td>
                    <td>@crms400B.CollateralSecure1</td>
                    <td>@crms400B.SecurityType1</td>
                    <td>@crms400B.AddressOfSecurity1</td>
                    <td>@crms400B.OwnerOfSecurity1</td>
                    <td>@crms400B.SecurityIdType1</td>
                    <td>@crms400B.SecurityIdNumber1</td>
                    <td>@crms400B.CollateralSecure2</td>
                    <td>@crms400B.SecurityType2</td>
                    <td>@crms400B.AddressOfSecurity2</td>
                    <td>@crms400B.OwnerOfSecurity2</td>
                    <td>@crms400B.SecurityIdType2</td>
                    <td>@crms400B.SecurityIdNumber2</td>
                    <td>@crms400B.CollateralSecure3</td>
                    <td>@crms400B.SecurityType3</td>
                    <td>@crms400B.AddressOfSecurity3</td>
                    <td>@crms400B.OwnerOfSecurity3</td>
                    <td>@crms400B.SecurityIdType3</td>
                    <td>@crms400B.SecurityIdNumber3</td>
                    <td>@crms400B.CollateralSecure4</td>
                    <td>@crms400B.SecurityType4</td>
                    <td>@crms400B.AddressOfSecurity4</td>
                    <td>@crms400B.OwnerOfSecurity4</td>
                    <td>@crms400B.SecurityIdType4</td>
                    <td>@crms400B.SecurityIdNumber4</td>
                    <td>@crms400B.CollateralSecure5</td>
                    <td>@crms400B.SecurityType5</td>
                    <td>@crms400B.AddressOfSecurity5</td>
                    <td>@crms400B.OwnerOfSecurity5</td>
                    <td>@crms400B.SecurityIdType5</td>
                    <td>@crms400B.SecurityIdNumber5</td>
                    <td>@crms400B.CollateralSecure6</td>
                    <td>@crms400B.SecurityType6</td>
                    <td>@crms400B.AddressOfSecurity6</td>
                    <td>@crms400B.OwnerOfSecurity6</td>
                    <td>@crms400B.SecurityIdType6</td>
                    <td>@crms400B.SecurityIdNumber6</td>
                    <td>@crms400B.CollateralSecure7</td>
                    <td>@crms400B.SecurityType7</td>
                    <td>@crms400B.AddressOfSecurity7</td>
                    <td>@crms400B.OwnerOfSecurity7</td>
                    <td>@crms400B.SecurityIdType7</td>
                    <td>@crms400B.SecurityIdNumber7</td>
                    <td>@crms400B.CollateralSecure8</td>
                    <td>@crms400B.SecurityType8</td>
                    <td>@crms400B.AddressOfSecurity8</td>
                    <td>@crms400B.OwnerOfSecurity8</td>
                    <td>@crms400B.SecurityIdType8</td>
                    <td>@crms400B.SecurityIdNumber8</td>
                    <td>@crms400B.CollateralSecure9</td>
                    <td>@crms400B.SecurityType9</td>
                    <td>@crms400B.AddressOfSecurity9</td>
                    <td>@crms400B.OwnerOfSecurity9</td>
                    <td>@crms400B.SecurityIdType9</td>
                    <td>@crms400B.SecurityIdNumber9</td>
                    <td>@crms400B.CollateralSecure10</td>
                    <td>@crms400B.SecurityType10</td>
                    <td>@crms400B.AddressOfSecurity10</td>
                    <td>@crms400B.OwnerOfSecurity10</td>
                    <td>@crms400B.SecurityIdType10</td>
                    <td>@crms400B.SecurityIdNumber10</td>
                    <td>@crms400B.Guarantee1</td>
                    <td>@crms400B.GuaranteeType1</td>
                    <td>@crms400B.GuaranteeIdType1</td>
                    <td>@crms400B.GuaranteeIdNumber1</td>
                    <td>@crms400B.AmountGuranteed1</td>
                    <td>@crms400B.GuaranteeType2</td>
                    <td>@crms400B.GuaranteeIdType2</td>
                    <td>@crms400B.GuaranteeIdNumber2</td>
                    <td>@crms400B.AmountGuranteed2</td>
                    <td>@crms400B.GuaranteeType3</td>
                    <td>@crms400B.GuaranteeIdType3</td>
                    <td>@crms400B.GuaranteeIdNumber3</td>
                    <td>@crms400B.AmountGuranteed3</td>
                    <td>@crms400B.GuaranteeType4</td>
                    <td>@crms400B.GuaranteeIdType4</td>
                    <td>@crms400B.GuaranteeIdNumber4</td>
                    <td>@crms400B.AmountGuranteed4</td>
                    <td>@crms400B.GuaranteeType5</td>
                    <td>@crms400B.GuaranteeIdType5</td>
                    <td>@crms400B.GuaranteeIdNumber5</td>
                    <td>@crms400B.AmountGuranteed5</td>
                    <td>@crms400B.InputterId</td>
                    <td>@crms400B.InputterDateStamp</td>
                    <td>@crms400B.ModifierId</td>
                    <td>@crms400B.ModifierDateStamp</td>
                    <td>@crms400B.CrmsRefNumber</td>
                    <td>@crms400B.LoanRefNumber</td>
                </tr>
            }
        </table>
    </div>
    <!--CRMS 400B Ends-->
    <!--CRMS 600-->
    <h4>CRMS 600</h4>
    <div class="bg-scrollabletable">
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Customer_ID</th>
                <th>Customer_Account_Number</th>
                <th>Customer_Name</th>
                <th>Syndication_Reference_Number</th>
                <th>Syndication_Name</th>
                <th>Syndication_Total_Amount</th>
                <th>Participating_Bank_Code</th>
                <th>Inputter_ID</th>
                <th>Inputter_Date_Stamp</th>
                <th>Modifier_ID</th>
                <th>Modifier_Date_Stamp</th>
                <th>CRMS_Ref_Number</th>
                <th>Loan_Ref_Number</th>
            </tr>
            @foreach (var crms600 in crms600S)
            {
                <tr>
                    <td>@crms600.Id</td>
                    <td>@crms600.Code</td>
                    <td>@crms600.CustomerId</td>
                    <td>@crms600.CustomerAccountNumber</td>
                    <td>@crms600.CustomerName</td>
                    <td>@crms600.SyndicationReferenceNumber</td>
                    <td>@crms600.SyndicationName</td>
                    <td>@crms600.SyndicationTotalAmount</td>
                    <td>@crms600.ParticipatingBankCode</td>
                    <td>@crms600.InputterId</td>
                    <td>@crms600.InputterDateStamp</td>
                    <td>@crms600.ModifierId</td>
                    <td>@crms600.ModifierDateStamp</td>
                    <td>@crms600.CrmsRefNumber</td>
                    <td>@crms600.LoanRefNumber</td>
                </tr>
            }
        </table>
    </div>
<!--CRMS 600 Ends-->

<!--CRMS 700-->
<h4>CRMS 700</h4>
<div class="bg-scrollabletable">
    <table class="table table-bordered table-striped table-condensed table-responsive">
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Customer_ID</th>
            <th>Customer_Account_Number</th>
            <th>Customer_Name</th>
            <th>Unique_Identifcation_Type</th>
            <th>Unique_Identifcation_Number</th>
            <th>CRMS Reference Number</th>
            <th>Credit_Purpose_By_Business_Lines</th>
            <th>Credit_Purpose_By_Business_Lines_Subsector</th>
            <th>Fee_Type1</th>
            <th>Fee_Amount1</th>
            <th>Fee_Type2</th>
            <th>Fee_Amount2</th>
            <th>Fee_Type3</th>
            <th>Fee_Amount3</th>
            <th>Fee_Type4</th>
            <th>Fee_Amount4</th>
            <th>Fee_Type5</th>
            <th>Fee_Amount5</th>
            <th>Fee_Type6</th>
            <th>Fee_Amount6</th>
            <th>Fee_Type7</th>
            <th>Fee_Amount7</th>
            <th>Fee_Type8</th>
            <th>Fee_Amount8</th>
            <th>Fee_Type9</th>
            <th>Fee_Amount9</th>
            <th>Fee_Type10</th>
            <th>Fee_Amount10</th>
            <th>Fee_Type11</th>
            <th>Fee_Amount11</th>
            <th>Fee_Type12</th>
            <th>Fee_Amount12</th>
            <th>Fee_Type13</th>
            <th>Fee_Amount13</th>
            <th>Fee_Type14</th>
            <th>Fee_Amount14</th>
            <th>Fee_Type15</th>
            <th>Fee_Amount15</th>
            <th>Fee_Type16</th>
            <th>Fee_Amount16</th>
            <th>Tenor</th>
            <th>Beneficiary_Account_Number</th>
            <th>Location_of_Beneficiary</th>
            <th>Relationship_Type</th>
            <th>Funding_Source_Category</th>
            <th>ECCI_Number</th>
            <th>Funding_Source</th>
            <th>Legal_Status</th>
            <th>Classification_By_Business_Lines</th>
            <th>Classification_By_Business_Lines_Subsector</th>
            <th>Specialised_Loan</th>
            <th>Specialised_Loan_Period</th>
            <th>Director_Id_Type1</th>
            <th>Director_Id_Number1</th>
            <th>Director_Id_Email1</th>
            <th>Director_Id_Type2</th>
            <th>Director_Id_Number2</th>
            <th>Director_Id_Email2</th>
            <th>Director_Id_Type3</th>
            <th>Director_Id_Number3</th>
            <th>Director_Id_Email3</th>
            <th>Director_Id_Type4</th>
            <th>Director_Id_Number4</th>
            <th>Director_Id_Email4</th>
            <th>Director_Id_Type5</th>
            <th>Director_Id_Number5</th>
            <th>Director_Id_Email5</th>
            <th>Syndication</th>
            <th>Syndication_Status</th>
            <th>Syndication_Name</th>
            <th>Syndication_Total_Amount</th>
            <th>Syndication_Reference_Number</th>
            <th>Collateral_Present1</th>
            <th>Collateral_Secure1</th>
            <th>Security_Type1</th>
            <th>Address_of_Security1</th>
            <th>Owner_of_Security1</th>
            <th>Security_Id_Type1</th>
            <th>Security_Id_Number1</th>
            <th>Collateral_Secure2</th>
            <th>Security_Type2</th>
            <th>Address_of_Security2</th>
            <th>Owner_of_Security2</th>
            <th>Security_Id_Type2</th>
            <th>Security_Id_Number2</th>
            <th>Collateral_Secure3</th>
            <th>Security_Type3</th>
            <th>Address_of_Security3</th>
            <th>Owner_of_Security3</th>
            <th>Security_Id_Type3</th>
            <th>Security_Id_Number3</th>
            <th>Collateral_Secure4</th>
            <th>Security_Type4</th>
            <th>Address_of_Security4</th>
            <th>Owner_of_Security4</th>
            <th>Security_Id_Type4</th>
            <th>Security_Id_Number4</th>
            <th>Collateral_Secure5</th>
            <th>Security_Type5</th>
            <th>Address_of_Security5</th>
            <th>Owner_of_Security5</th>
            <th>Security_Id_Type5</th>
            <th>Security_Id_Number5</th>
            <th>Collateral_Secure6</th>
            <th>Security_Type6</th>
            <th>Address_of_Security6</th>
            <th>Owner_of_Security6</th>
            <th>Security_Id_Type6</th>
            <th>Security_Id_Number6</th>
            <th>Collateral_Secure7</th>
            <th>Security_Type7</th>
            <th>Address_of_Security7</th>
            <th>Owner_of_Security7</th>
            <th>Security_Id_Type7</th>
            <th>Security_Id_Number7</th>
            <th>Collateral_Secure8</th>
            <th>Security_Type8</th>
            <th>Address_of_Security8</th>
            <th>Owner_of_Security8</th>
            <th>Security_Id_Type8</th>
            <th>Security_Id_Number8</th>
            <th>Collateral_Secure9</th>
            <th>Security_Type9</th>
            <th>Address_of_Security9</th>
            <th>Owner_of_Security9</th>
            <th>Security_Id_Type9</th>
            <th>Security_Id_Number9</th>
            <th>Collateral_Secure10</th>
            <th>Security_Type10</th>
            <th>Address_of_Security10</th>
            <th>Owner_of_Security10</th>
            <th>Security_Id_Type10</th>
            <th>Security_Id_Number10</th>
            <th>Guarantee1</th>
            <th>Guarantee_Type1</th>
            <th>Guarantor_Id_Type1</th>
            <th>Guarantor_Id_Number1</th>
            <th>Amount_Guaranteed1</th>
            <th>Guarantee_Type2</th>
            <th>Guarantor_Id_Type2</th>
            <th>Guarantor_Id_Number2</th>
            <th>Amount_Guaranteed2</th>
            <th>Guarantee_Type3</th>
            <th>Guarantor_Id_Type3</th>
            <th>Guarantor_Id_Number3</th>
            <th>Amount_Guaranteed3</th>
            <th>Guarantee_Type4</th>
            <th>Guarantor_Id_Type4</th>
            <th>Guarantor_Id_Number4</th>
            <th>Amount_Guaranteed4</th>
            <th>Guarantee_Type5</th>
            <th>Guarantor_Id_Type5</th>
            <th>Guarantor_Id_Number5</th>
            <th>Amount_Guaranteed5</th>
            <th>Inputter_ID</th>
            <th>Inputter_Date_Stamp</th>
            <th>Modifier_ID</th>
            <th>Modifier_Date_Stamp</th>
            <th>CRMS_Ref_Number</th>
            <th>Loan_Ref_Number</th>
        </tr>
        @foreach (var crms700 in crms700S)
        {
            <tr>
                <td>@crms700.Id</td>
                <td>@crms700.Code</td>
                <td>@crms700.CustomerId</td>
                <td>@crms700.CustomerAccountNumber</td>
                <td>@crms700.CustomerName</td>
                <td>@crms700.UniqueIdentificationType</td>
                <td>@crms700.UniqueIdentificationNumber</td>
                <td>@crms700.CrmsReferenceNumber</td>
                <td>@crms700.CreditPurposeByBusinessLines</td>
                <td>@crms700.CreditPurposeByBusinessLinesSubsector</td>
                <td>@crms700.FeeType1</td>
                <td>@crms700.FeeAmount1</td>
                <td>@crms700.FeeType2</td>
                <td>@crms700.FeeAmount2</td>
                <td>@crms700.FeeType3</td>
                <td>@crms700.FeeAmount3</td>
                <td>@crms700.FeeType4</td>
                <td>@crms700.FeeAmount4</td>
                <td>@crms700.FeeType5</td>
                <td>@crms700.FeeAmount5</td>
                <td>@crms700.FeeType6</td>
                <td>@crms700.FeeAmount6</td>
                <td>@crms700.FeeType7</td>
                <td>@crms700.FeeAmount7</td>
                <td>@crms700.FeeType8</td>
                <td>@crms700.FeeAmount8</td>
                <td>@crms700.FeeType9</td>
                <td>@crms700.FeeAmount9</td>
                <td>@crms700.FeeType10</td>
                <td>@crms700.FeeAmount10</td>
                <td>@crms700.FeeType11</td>
                <td>@crms700.FeeAmount11</td>
                <td>@crms700.FeeType12</td>
                <td>@crms700.FeeAmount12</td>
                <td>@crms700.FeeType13</td>
                <td>@crms700.FeeAmount14</td>
                <td>@crms700.FeeType14</td>
                <td>@crms700.FeeAmount14</td>
                <td>@crms700.FeeType15</td>
                <td>@crms700.FeeAmount15</td>
                <td>@crms700.FeeType16</td>
                <td>@crms700.FeeAmount16</td>
                <td>@crms700.Tenor</td>
                <td>@crms700.BeneficiaryAccountNumber</td>
                <td>@crms700.LocationOfBeneficiary</td>
                <td>@crms700.RelationshipType</td>
                <td>@crms700.FundingSourceCategory</td>
                <td>@crms700.EcciNumber</td>
                <td>@crms700.FundingSource</td>
                <td>@crms700.LegalStatus</td>
                <td>@crms700.ClassificationByBusinessLines</td>
                <td>@crms700.ClassificationByBusinessLinesSubsector</td>
                <td>@crms700.SpecialisedLoan</td>
                <td>@crms700.SpecialisedLoanPeriod</td>
                <td>@crms700.DirectorIdType1</td>
                <td>@crms700.DirectorIdNumber1</td>
                <td>@crms700.DirectorIdEmail1</td>
                <td>@crms700.DirectorIdType2</td>
                <td>@crms700.DirectorIdNumber2</td>
                <td>@crms700.DirectorIdEmail2</td>
                <td>@crms700.DirectorIdType3</td>
                <td>@crms700.DirectorIdNumber3</td>
                <td>@crms700.DirectorIdEmail3</td>
                <td>@crms700.DirectorIdType4</td>
                <td>@crms700.DirectorIdNumber4</td>
                <td>@crms700.DirectorIdEmail4</td>
                <td>@crms700.DirectorIdType5</td>
                <td>@crms700.DirectorIdNumber5</td>
                <td>@crms700.DirectorIdEmail5</td>
                <td>@crms700.Syndication</td>
                <td>@crms700.SyndicationStatus</td>
                <td>@crms700.SyndicationName</td>
                <td>@crms700.SyndicationTotalAmount</td>
                <td>@crms700.SyndicationReferenceNumber</td>
                <td>@crms700.CollateralPresent1</td>
                <td>@crms700.CollateralSecure1</td>
                <td>@crms700.SecurityType1</td>
                <td>@crms700.AddressOfSecurity1</td>
                <td>@crms700.OwnerOfSecurity1</td>
                <td>@crms700.SecurityIdType1</td>
                <td>@crms700.SecurityIdNumber1</td>
                <td>@crms700.CollateralSecure2</td>
                <td>@crms700.SecurityType2</td>
                <td>@crms700.AddressOfSecurity2</td>
                <td>@crms700.OwnerOfSecurity2</td>
                <td>@crms700.SecurityIdType2</td>
                <td>@crms700.SecurityIdNumber2</td>
                <td>@crms700.CollateralSecure3</td>
                <td>@crms700.SecurityType3</td>
                <td>@crms700.AddressOfSecurity3</td>
                <td>@crms700.OwnerOfSecurity3</td>
                <td>@crms700.SecurityIdType3</td>
                <td>@crms700.SecurityIdNumber3</td>
                <td>@crms700.CollateralSecure4</td>
                <td>@crms700.SecurityType4</td>
                <td>@crms700.AddressOfSecurity4</td>
                <td>@crms700.OwnerOfSecurity4</td>
                <td>@crms700.SecurityIdType4</td>
                <td>@crms700.SecurityIdNumber4</td>
                <td>@crms700.CollateralSecure5</td>
                <td>@crms700.SecurityType5</td>
                <td>@crms700.AddressOfSecurity5</td>
                <td>@crms700.OwnerOfSecurity5</td>
                <td>@crms700.SecurityIdType5</td>
                <td>@crms700.SecurityIdNumber5</td>
                <td>@crms700.CollateralSecure6</td>
                <td>@crms700.SecurityType6</td>
                <td>@crms700.AddressOfSecurity6</td>
                <td>@crms700.OwnerOfSecurity6</td>
                <td>@crms700.SecurityIdType6</td>
                <td>@crms700.SecurityIdNumber6</td>
                <td>@crms700.CollateralSecure7</td>
                <td>@crms700.SecurityType7</td>
                <td>@crms700.AddressOfSecurity7</td>
                <td>@crms700.OwnerOfSecurity7</td>
                <td>@crms700.SecurityIdType7</td>
                <td>@crms700.SecurityIdNumber7</td>
                <td>@crms700.CollateralSecure8</td>
                <td>@crms700.SecurityType8</td>
                <td>@crms700.AddressOfSecurity8</td>
                <td>@crms700.OwnerOfSecurity8</td>
                <td>@crms700.SecurityIdType8</td>
                <td>@crms700.SecurityIdNumber8</td>
                <td>@crms700.CollateralSecure9</td>
                <td>@crms700.SecurityType9</td>
                <td>@crms700.AddressOfSecurity9</td>
                <td>@crms700.OwnerOfSecurity9</td>
                <td>@crms700.SecurityIdType9</td>
                <td>@crms700.SecurityIdNumber9</td>
                <td>@crms700.CollateralSecure10</td>
                <td>@crms700.SecurityType10</td>
                <td>@crms700.AddressOfSecurity10</td>
                <td>@crms700.OwnerOfSecurity10</td>
                <td>@crms700.SecurityIdType10</td>
                <td>@crms700.SecurityIdNumber10</td>
                <td>@crms700.Guarantee1</td>
                <td>@crms700.GuaranteeType1</td>
                <td>@crms700.GuaranteeIdType1</td>
                <td>@crms700.GuaranteeIdNumber1</td>
                <td>@crms700.AmountGuranteed1</td>
                <td>@crms700.GuaranteeType2</td>
                <td>@crms700.GuaranteeIdType2</td>
                <td>@crms700.GuaranteeIdNumber2</td>
                <td>@crms700.AmountGuranteed2</td>
                <td>@crms700.GuaranteeType3</td>
                <td>@crms700.GuaranteeIdType3</td>
                <td>@crms700.GuaranteeIdNumber3</td>
                <td>@crms700.AmountGuranteed3</td>
                <td>@crms700.GuaranteeType4</td>
                <td>@crms700.GuaranteeIdType4</td>
                <td>@crms700.GuaranteeIdNumber4</td>
                <td>@crms700.AmountGuranteed4</td>
                <td>@crms700.GuaranteeType5</td>
                <td>@crms700.GuaranteeIdType5</td>
                <td>@crms700.GuaranteeIdNumber5</td>
                <td>@crms700.AmountGuranteed5</td>
                <td>@crms700.InputterId</td>
                <td>@crms700.InputterDateStamp</td>
                <td>@crms700.ModifierId</td>
                <td>@crms700.ModifierDateStamp</td>
                <td>@crms700.CrmsRefNumber</td>
                <td>@crms700.LoanRefNumber</td>
            </tr>
        }
    </table>
</div>
<!--CRMS 300 Ends-->