@model CRMS.Models.CRMS_400A

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CRMS_400A</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_ID)
                @Html.ValidationMessageFor(model => model.Customer_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Account_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Account_Number)
                @Html.ValidationMessageFor(model => model.Customer_Account_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Name)
                @Html.ValidationMessageFor(model => model.Customer_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unique_Identifcation_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unique_Identifcation_Type)
                @Html.ValidationMessageFor(model => model.Unique_Identifcation_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unique_Identifcation_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unique_Identifcation_Number)
                @Html.ValidationMessageFor(model => model.Unique_Identifcation_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CRMS_Reference_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CRMS_Reference_Number)
                @Html.ValidationMessageFor(model => model.CRMS_Reference_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Effective_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Effective_Date)
                @Html.ValidationMessageFor(model => model.Effective_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tenor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenor)
                @Html.ValidationMessageFor(model => model.Tenor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expiry_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expiry_Date)
                @Html.ValidationMessageFor(model => model.Expiry_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inputter_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inputter_ID)
                @Html.ValidationMessageFor(model => model.Inputter_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inputter_Date_Stamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inputter_Date_Stamp)
                @Html.ValidationMessageFor(model => model.Inputter_Date_Stamp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modifier_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modifier_ID)
                @Html.ValidationMessageFor(model => model.Modifier_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modifier_Date_Stamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modifier_Date_Stamp)
                @Html.ValidationMessageFor(model => model.Modifier_Date_Stamp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CRMS_Ref_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CRMS_Ref_Number)
                @Html.ValidationMessageFor(model => model.CRMS_Ref_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loan_Ref_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Loan_Ref_Number)
                @Html.ValidationMessageFor(model => model.Loan_Ref_Number)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
