@model IEnumerable<CRMS.Models.CRMS_400A>

@{
    ViewBag.Title = "CRMS 400A";
    var count = 1;
}

<h2>CRMS 400A</h2>

<p>
    <!--@Html.ActionLink("Create New", "Create")-->
</p>
<div class="bg-scrollabletable">
    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Account_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unique_Identifcation_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unique_Identifcation_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRMS_Reference_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Effective_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiry_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inputter_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inputter_Date_Stamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modifier_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modifier_Date_Stamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRMS_Ref_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan_Ref_Number)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Account_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unique_Identifcation_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unique_Identifcation_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CRMS_Reference_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Effective_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expiry_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inputter_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inputter_Date_Stamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modifier_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modifier_Date_Stamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CRMS_Ref_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loan_Ref_Number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "red" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "red" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "red" })
                </td>
            </tr>
            count++;
        }

    </table>
</div>