@model CRMS.Models.CRMS_200

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CRMS_200</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Account_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Account_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Government_Mda_Tin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Government_Mda_Tin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Legal_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legal_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit_Purpose_By_Business_Lines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit_Purpose_By_Business_Lines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit_Purpose_By_Business_Lines_Subsector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit_Purpose_By_Business_Lines_Subsector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit_Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit_Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outstanding_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outstanding_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Type16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Type16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_Amount16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_Amount16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effective_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effective_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiry_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiry_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repayment_Agreement_Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repayment_Agreement_Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Performance_Repayment_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Performance_Repayment_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialised_Loan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialised_Loan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialised_Loan_Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialised_Loan_Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Present1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Present1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collateral_Secure10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collateral_Secure10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Type10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Type10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repayment_Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repayment_Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Syndication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Syndication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Syndication_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Syndication_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Syndication_Reference_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Syndication_Reference_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inputter_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inputter_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inputter_Date_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inputter_Date_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifier_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifier_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifier_Date_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifier_Date_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRMS_Ref_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRMS_Ref_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Ref_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Ref_Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
